<div class="container h-100">
  <div class="row justify-content-md-center h-100">
    <div class="col-md-6 mt-3 px-0">
      <div *ngIf="invalidCredential" class="alert alert-danger" role="alert" translate="incorrectEmailOrPassword">
        Incorrect Email or Passsword
      </div>
      <div *ngIf="flashMessage" class="alert alert-success" role="alert">
        {{ flashMessage | translate }}
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center h-100">
    <div class="card col-md-6">
      <div class="card-body">
        <h4 class="card-title" [translate]="'login'">Login</h4>
        <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
          <div class="form-group">
            <label class="sr-only" for="email" [translate]="'email'">Email address</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-user"></i></div>
              </div>
              <input type="email" class="form-control" formControlName="email" placeholder="Email" />
            </div>
            <small class="form-text text-muted" *ngIf="email.invalid">{{ emailErrorMsg() | translate }}</small>
          </div>
          <div class="form-group">
            <label class="sr-only" for="password" [translate]="'password'">Password</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-unlock-alt"></i></div>
              </div>
              <input type="password" class="form-control" formControlName="password" placeholder="Password" />
            </div>
            <small class="form-text text-muted" *ngIf="password.invalid">{{ passwordErrorMsg() | translate }}</small>
          </div>
          <button type="submit" class="btn btn-primary text-uppercase btn-block" [disabled]="loginForm.invalid" [translate]="'login'">LOGIN</button>
          <hr class="tb-hr-text" data-content="OR" />
          <button routerLink="/registration" class="btn btn-primary text-uppercase btn-block" [translate]="'registration'">Registration</button>
        </form>
      </div>
    </div>
  </div>
</div>