<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>TaskBoard</title>
    <base href="/">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>